<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="smb-finder-ui">
</div>
<script type="text/javascript">
    (function(){
        var __SSO_CALLBACK__;
        var __SSO_USER__;
        var __SSO_COOKIE__;
    })();

    window.onbeforeunload = function() {
        return true;
    };
</script>
</body>
</html>
